{% extends "base_entries.html" %}

{% block title %}
    {{ day|date:"F j, Y" }} | 
{% endblock %}

{% block topmenu %}
    {% for page in top_pages %}
        <a href="{{ page.get_absolute_url_ru }}">{{ page.title_ru }}</a>
    {% endfor %}
{% endblock %}

{% block headerright %}
    {% for page in side_pages %}
        <a href="{{ page.get_absolute_url_ru }}">{{ page.title_ru }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <h1>{{ day|date:"F j, Y" }}</h1>
    {% for entry in entries.object_list %}
        <p><a href="{{ entry.get_absolute_url }}">{{ entry.title_ru }}</a></p>
    {% endfor %}
    
    {% if entries.paginator.num_pages > 0 %}
    <div class="pagination">
        <span class="step-links">
        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">назад</a>
        {% endif %}
        
            <span class="current">
                {{ entries.number }}/{{ entries.paginator.num_pages }}
            </span>
        
        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}">вперед</a>
        {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}

{% block copyright %}
    Все права защищены!
{% endblock %}