{% extends "base.html" %}

{% block title %}
    Online consulting | 
{% endblock %}

{% block topmenu %}
    {% for page in top_pages %}
        <a href="{{ page.get_absolute_url_ru }}">{{ page.title_en }}</a>
    {% endfor %}
{% endblock %}

{% block headerright %}
    {% for page in side_pages %}
        <a href="{{ page.get_absolute_url_ru }}">{{ page.title_en }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <p style="text-align: center">Our specialists will contact you back in a short time.</p>
{% endblock %}

{% block copyright %}
    All rights reserved!
{% endblock %}