{% extends "base.html" %}

{% block topmenu %}
    {% for page in top_pages %}
        <a href="{{ page.get_absolute_url_az }}">{{ page.title_az }}</a>
    {% endfor %}
{% endblock %}

{% block headerright %}
    {% for page in side_pages %}
        <a href="{{ page.get_absolute_url_az }}">{{ page.title_az }}</a>
    {% endfor %}
{% endblock %}

{% block tagline %}
    <p class="header-line1">Sizin gələcəyiniz</p>
    <p class="header-line2">etibarlı əllərdə</p>
{% endblock %}

{% block content %}
    <div class="content-left">
        <div class="content-left-pics">
            <a href="/az/uslugi.html" class="audit">AUDİT<br />XİDMƏTLƏRİ</a>
            <a href="/az/uslugi.html" class="buxgal">MÜHASİBAT<br />XİDMƏTLƏRİ</a>
            <a href="/az/uslugi.html" class="consulting">KONSALTİNQ<br />XİDMƏTLƏRİ</a>
        </div>
        <div class="content-left-news">
            <h1 class="content-left-news-title">İQTİSADİYYAT XƏBƏRLƏRİ</h1>
            <ul>
                {% for title, url in links %}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content-right">
        <div class="content-right-news">
            <h1>XƏBƏRLƏR</h1>
            {% for entry in latest_entries %}
                <a href="{{ entry.get_absolute_url_az }}">
                    <img src="{{ STATIC_URL }}img/arr.gif" alt="" />
                    {{ entry.title_az }}
                </a>
            {% endfor %}
        </div>
        <div class="content-right-vote">
            <h1>Sorğu</h1>
            <h2>{{ poll.question_az }}</h2>
        {% if show_result %}
            <ul>
            {% for choice in poll.choice_set.all %}
                <li>{{ choice.choice_az }} - {{ choice.vote }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <form action="/{{ lang_name }}/poll/{{ poll.id }}/vote/" method="post">
            {% csrf_token %}
            {% for choice in poll.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_az }}</label><br />
            {% endfor %}
                <div>
                    <input type="submit" value="Səs ver" class="vote-button" />
                    <input type="button" value="Nəticələr" class="vote-button" onclick="window.location.href='/{{ lang_name }}/?show_result=true'" />
                </div>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block copyright %}
    Bütün hüquqlar qorunur!
{% endblock %}