{% extends "base_categories.html" %}

{% block title %}
    {{ category.title }} | 
{% endblock %}

{% block topmenu %}
    {% for page in top_pages %}
        <a href="{{ page.get_absolute_url_az }}">{{ page.title_az }}</a>
    {% endfor %}
{% endblock %}

{% block headerright %}
    {% for page in side_pages %}
        <a href="{{ page.get_absolute_url_az }}">{{ page.title_az }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <h1>{{ query }} üçün nəticələr</h1>
    
    {% if not search_categories and not search_entries and not search_pages %}
        <p>Nəticə yoxdur.</p>
    {% else %}
        {% if search_entries %}
            <h3>Xəbərlər</h3>
            {% for entry in search_entries %}
                <p><a href="{{ entry.get_absolute_url_az }}">{{ entry.title_az }}</a></p>
            {% endfor %}
        {% endif %}
        
        {% if search_pages %}
            <h3>Səhifələr</h3>
            {% for page in search_pages %}
                <p><a href="{{ page.get_absolute_url_az }}">{{ page.title_az }}</a></p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block copyright %}
    Bütün hüquqlar qorunur!
{% endblock %}